<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plastprod.plastprodapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AccueilActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".AccueilActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccueilActivity" />
        </activity>
        <activity
            android:name=".ClientActivity"
            android:label="@string/title_activity_client"
            android:launchMode="singleTop"
            android:parentActivityName=".MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTop"
            android:parentActivityName=".ClientActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.ClientActivity" />
        </activity>
        <activity
            android:name=".BonActivity"
            android:label="@string/title_activity_bon"
            android:launchMode="singleTop"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuActivity" />
        </activity>
        <activity
            android:name=".SuiviActivity"
            android:label="@string/title_activity_suivi"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuActivity" />
        </activity>
        <activity
            android:name=".PerfActivity"
            android:label="@string/title_activity_perf"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuActivity" />
        </activity>
        <activity
            android:name=".FormulaireClient"
            android:label="@string/title_activity_formulaire_client"
            android:parentActivityName=".ClientActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.ClientActivity" />
        </activity>
        <!--
        <activity
            android:name=".RechercherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        -->
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".AccueilActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.AccueilActivity" />
        </activity>
        <activity
            android:name=".HistoBonActivity"
            android:label="@string/title_activity_histocd"
            android:parentActivityName=".ClientActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.ClientActivity" />
        </activity>
        <activity
            android:name=".FormulaireContact"
            android:label="@string/title_activity_formulaire_contact"
            android:parentActivityName=".ContactActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.ContactActivity" />
        </activity>
        <activity
            android:name=".AffichageBon"
            android:label="@string/title_activity_affcommande"
            android:launchMode="singleTop"
            android:parentActivityName=".BonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.BonActivity" />
        </activity>
        <activity
            android:name=".ChoixClientActivity"
            android:label="@string/title_activity_choix_client"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuActivity" />
        </activity>
        <activity
            android:name=".StatistiqueActivity"
            android:label="@string/title_activity_statistique"
            android:parentActivityName=".SuiviActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.SuiviActivity" />
        </activity>
        <activity
            android:name=".LivraisonActivity"
            android:label="@string/title_activity_livraison"
            android:parentActivityName=".SuiviActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.SuiviActivity" />
        </activity>
        <activity
            android:name=".SatisfactionActivity"
            android:label="@string/title_activity_satisfaction"
            android:parentActivityName=".SuiviActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.SuiviActivity" />
        </activity>
        <activity
            android:name=".CommentaireActivity"
            android:label="@string/title_activity_commentaire"
            android:parentActivityName=".SuiviActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.SuiviActivity" />
        </activity>
        <activity
            android:name=".OptQuestionnaireActivity"
            android:label="@string/title_activity_questionnaire"
            android:parentActivityName=".MenuQuestionnaireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuQuestionnaireActivity" />
        </activity>
        <activity
            android:name=".MenuQuestionnaireActivity"
            android:label="@string/title_activity_menu_questionnaire"
            android:parentActivityName=".SuiviActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.SuiviActivity" />
        </activity>
        <activity
            android:name=".FormulaireBon"
            android:label="@string/title_activity_formulaire_bon"
            android:parentActivityName=".AffichageBon" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.AffichageBon" />
        </activity>
        <activity
            android:name=".OptParametreActivity"
            android:label="@string/adresse_mail"
            android:parentActivityName=".MenuQuestionnaireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plastprod.plastprodapp.MenuQuestionnaireActivity" />
        </activity>
    </application>

</manifest>
